<mat-toolbar xmlns="http://www.w3.org/1999/html">
  <div (click)="home()" class="icon"><i class="fas fa-taxi"></i></div>

  <span *ngIf="isAuthenticated" (click)="profile()">Profile</span>
  <span *ngIf="isClient" (click)="requestCar()">Request Car</span>
  <span *ngIf="isDriver" (click)="takeTrip()">Take Trip</span>
  <span *ngIf="isAdmin" (click)="allData()">All Data</span>

  <span class="filler"></span>

  <div *ngIf="isAuthenticated" (click)="notification()" class="bell"><i class="fas fa-bell"></i></div>

  <button *ngIf="isAuthenticated" class="menu-butt" [matMenuTriggerFor]="beforeMenu">
    <img class="image" src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt_400x400.jpg"
         alt="masha">
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <mat-list>
      <div class="dropdown-content" (click)="profile()">Profile</div>
      <div class="dropdown-content" (click)="settings()">Settings</div>
      <mat-divider></mat-divider>
      <div class="dropdown-content" (click)="logOut()">Sign out</div>
    </mat-list>
  </mat-menu>

  <span *ngIf="!isAuthenticated" (click)="signIn()">Sign in</span>
  <span *ngIf="!isAuthenticated" (click)="signUp()">Sign up</span>

</mat-toolbar>

