#left{
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 350px;
  width: 100%;
}

#right{
  height: auto;
}

#first{
  margin-top: 30px;
  margin-left: 20px;
}

.second{
  margin-top: 30px;
  margin-left: 10px;
}

.avatar{
  max-width: 100%;
  border-radius: 50%!important;
  width: 270px;
  height: 270px;
  object-fit: cover;
}

.margin-bottom{
  margin-bottom: 5px;
}

.table{
  width: auto !important;
}

.fullName{
  padding-top: 16px;
  font-size: 26px;
  font-weight: 600;
}

#userName{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.myButton{
  text-align: center;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  width: 300px;
  margin-top: 16px;
}

#nameRow{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-star{
  margin-left: 5px;
  height: 70%;
}

.border-top {
  border-top: 1px solid #e1e4e8!important;
  margin-top: 16px;
  padding-top: 16px;
}

.link-gray-dark {
  color: #24292e!important;
  cursor: pointer;
}

/*.link-gray {*/
/*  color: #586069!important;*/
/*}*/

/*.no-underline {*/
/*  text-decoration: none!important;*/
/*}*/

/*.no-wrap {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: end;*/
/*  margin-top: 10px;*/
/*}*/

/*.margin-right{*/
/*  margin-right: 5px;*/
/*  height: 17px;*/
/*  width: 17px;*/
/*}*/

.icon-size{
  height: 14px;
  width: 14px;
}
