<div class="container-fluid">
  <!--PAGE CONTENT-->
  <div *ngIf="person" class='row'>
    <!--PERSON COLUMN-->
    <div id="left" class='col-xs-12 col-md-1'>
      <div id="first"><img id="avatar"
                           src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt_400x400.jpg"
                           alt="avatar"/>
        <div id="nameRow">
          <div class="text fullName">{{person.firstName}}  {{person.lastName}}</div>
          <div *ngIf="person.personType !== 'ADMIN'" id="rating" class="text fullName"> {{person.rating}}<i
            class="far fa-star"></i></div>
        </div>
        <div class="text" id="userName">{{person.credentials.username}}</div>
        <div class="text"><i class="far fa-envelope"></i> <a id="email "
                                                             href="mailto:{{person.credentials.email}}"> {{person.credentials.email}}</a>
        </div>
        <button class="myButton" *ngIf="(person.personType === 'CLIENT') || (person.personType === 'DRIVER')"
                (click)="showHistoryOfTrips()">{{tripsHistoryTitle}}</button>
        <button class="myButton" *ngIf="(person.personType === 'ADMIN')"
                (click)="generate()">GENERATE!
        </button>
      </div>
    </div>
    <!--CONTENT COLUMN-->
    <div class='col-xs-12 col-md' id="right">
      <!--      TRIPS CLIENT TABLE-->
      <div *ngIf="showTrips" class="second">
        <div class="table">
<!--          TODO think about what do on click-->
          <app-common-table [getData]="getDataForTrips"></app-common-table>
        </div>
      </div>
      <!--      SET PASSPORT FORM-->
      <div *ngIf="person.personType === 'DRIVER'" class="second">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passport panel
            </mat-panel-title>
            <mat-panel-description>
              {{person.passport ? 'ok' : 'empty'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p *ngIf="!person.passport">
            <input [(ngModel)]="passportSeries" type="text" placeholder="series">
            <input [(ngModel)]="passportNumber" type="text" placeholder="number">
            <button (click)="setPassport()">SAVE</button>
          </p>

          <p *ngIf="person.passport">
            <input disabled type="text" placeholder="{{person.passport.series }}">
            <input disabled type="text" placeholder="{{person.passport.number}}">
            <button (click)="setPassport()">change</button>
          </p>
        </mat-expansion-panel>
      </div>
      <!--      SET CAR FORM-->
      <div *ngIf="person.personType === 'DRIVER'" class="second">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Car panel
            </mat-panel-title>
            <mat-panel-description>
              {{person.car ? 'ok' : 'empty'}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngIf="person.car">
            <div class="child">{{person.car.color}} {{person.car.model}} {{person.car.number}}</div>
            <button (click)="changeCar()">Change car</button>

          </div>


          <div *ngIf="!person.car">
            <div class="child">MODEL:</div>
            <div class="rate">
              <select class=" can-disable" [(ngModel)]="modelTitle" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let title of carModels" [ngValue]="title">{{title}}</option>
              </select>
            </div>
            <div class="child">COLOR:</div>
            <div class="rate">
              <select [(ngModel)]="colorTitle" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let title of carColors" [ngValue]="title">{{title}}</option>
              </select>
            </div>
            <input [(ngModel)]="carNumber" type="text" placeholder="number">
            <button (click)="setCar()">SAVE</button>
          </div>

        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
