.avatar-before-user-status {
    border: 1px solid #e1e4e8;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

#body{
  margin: 50px 50px;
}
