<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        Welcome back! Please sign in
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto">
      <div *ngIf="flag" class="alert" id="login_error">
        <span>Invalid email address or password.<br><a href="/fp">Send password</a> to my email.</span>
      </div>

      <div class="form">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" placeholder="mail@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="text-center ">
          <button (click)="signIn()" class=" btn btn-block send-button tx-tfm">Sign In</button>
        </div>
        <div class="col-md-12 ">
          <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
          </div>
        </div>
        <div class="form-group">
          <button (click)="createAccount()" class=" btn btn-block send-button tx-tfm">Create Account</button>
        </div>
        <p class="small mt-3">By signing up, you are indicating that you have read and agree to the
          <a href="" (click)="openDialog()">Terms of Use</a>
          and <a href="" (click)="openDialog()">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
</div>
