@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

@keyframes header_anim {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

.header__title {
  transform: translateX(0) ;
  animation-name: header_anim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-transform: uppercase;
  color: #fff;
  align-self: center;
  position: relative;
  /*font-family: "Montserrat", sans-serif;*/
  font-size: 14em;
  font-weight: 600;
}

.header {
  display: flex;
  height: 93.5%;
  /*min-height: 100vh;*/
  padding: 8px 50px;
  background-color: #333;
  background-image: url("https://s3.envato.com/files/78790596/1644_23.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div{
  margin-bottom: 150px;
}
