<div class="modal-content-wrapper">
  <table>
    <tr>
      <th id="title" colspan="4">
Trip №{{data.trip.id}}
<div style="float:right" >{{data.trip.rating}}<i class="far fa-star"></i></div>
      </th>
    </tr>
    <tr>
      <th colspan="2" class="content">START <br>
        <p class="content-fields">{{data.trip.startAddress.city}}, {{data.trip.startAddress.street}}
          , {{data.trip.startAddress.numberHouse}}</p>
      </th>
      <th colspan="2" class="content">END<br>
        <p class="content-fields">{{data.trip.finishAddress.city}}, {{data.trip.finishAddress.street}}
          , {{data.trip.finishAddress.numberHouse}}</p>
      </th>
    </tr>


    <tr>
      <th colspan="2" class="content-title">DRIVER <br>
        <p
          class="content-fields">{{data.trip.driver.firstName}} {{data.trip.driver.lastName}} {{data.trip.driver.rating}}</p>
        <p class="content-fields">{{data.trip.driver.phoneNumber}}</p>
      </th>
      <th colspan="2" class="content-title">CAR<br>
        <p
          class="content-fields">{{data.trip.driver.car.color}} {{data.trip.driver.car.model}} {{data.trip.driver.car.number}}</p>

      </th>
    </tr>
    <tr>
      <th colspan="1" class="content-title">
        <p> {{data.trip.paymentMethod}}</p>
      </th>
      <th colspan="2">
        <p class="content-fields">{{data.trip.tripRate}}</p>
      </th>
      <th colspan="1">
        <p class="content-fields">{{data.trip.price}}$</p>
      </th>
    </tr>
    <tr>
      <th colspan="4">
        <button id="modal-cancel-button" (click)="closeModal()">Close</button>
      </th>
    </tr>
    <tr>
  </table>
</div>
