/*.modal-content-wrapper {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*#modal-title {*/
/*  font-size: 44px;*/
/*  margin-bottom: 35px;*/
/*}*/

/*#modal-footer {*/
/*  justify-self: right;*/
/*  align-self: center;*/
/*}*/

/*#modal-action-button {*/
/*  margin-right: 30px;*/
/*}*/

/*.qwe{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

.content{
  font-size: 20px;
  font-weight: bold;
}

.content-fields{
  font-size: 15px;
}

/*.label{*/
/*  font-size: 22px;*/
/*}*/

/*p.content-title{*/
/*  margin-bottom: 0;*/
/*}*/

/*p.content-fields{*/
/*  padding-left: 14px;*/
/*}*/

table {
  border-collapse: collapse;
  line-height: 1.1;
}


th {
  padding: 10px;
  border: 1px solid black;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid black;
}

#modal-cancel-button{
  width: 100%;
  background-color: white;
}

#title{
  font-size: 4em;
}


.fa-star{
  margin-left: 5px;
  height: 70%;
}
