<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>
<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        Welcome back! Please sign in
      </h1>
<!--      <h2 class="wv-heading&#45;&#45;subtitle">-->
<!--        Lorem ipsum dolor sit amet! Neque porro quisquam est qui do dolor amet, adipisci velit...-->
<!--      </h2>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">

      <div *ngIf="flag" class="alert" id="login_error">
        <span>Invalid email address and / or password.<br>Help is needed to <a href="/fp">sign in</a>?</span>
      </div>


      <div class="myform form ">
        <form action="" method="post" name="login">
          <div class="form-group">
            <input [(ngModel)]="email" type="email" name="email"  class="form-control my-input" id="email" placeholder="Email\UserName" required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="password"  type="password" name="password"  class="form-control my-input" id="password" placeholder="Password" required>
          </div>
          <div class="text-center ">
            <button (click)="signIn()" type="submit" class=" btn btn-block send-button tx-tfm">Sign In</button>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
          </div>
          <div class="form-group">
            <button (click)="createAccount()" type="submit" class=" btn btn-block send-button tx-tfm">Create Account</button>
          </div>
          <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
