<!--TODO topbar was fixed-->
<ul>
  <li><a (click)="home()">Home</a></li>
  <li><a *ngIf="isAuthenticated" (click)="profile()">profile</a></li>
  <li><a *ngIf="isClient" (click)="requestCar()">request car</a></li>
  <li><a *ngIf="isDriver" (click)="takeTrip()">Take trip</a></li>
  <li><a *ngIf="isAdmin" (click)="allData()">All Data</a></li>


  <li *ngIf="isAuthenticated" class="dropdown" style="float:right">
    <a class="dropbtn">
      <img class="image"
           src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt_400x400.jpg" alt="masha">
    </a>

    <div class="dropdown-content">
      <a (click)="settings()">Settings</a>
      <a (click)="logOut()">Sign Out</a>
    </div>
  </li>

  <li *ngIf="!isAuthenticated" style="float:right">
    <a class="active" href="/sign-in">SignIn</a></li>
</ul>

