<!--BACKGROUND MAP-->
<div>
  <iframe src="https://yandex.ru/map-widget/v1/-/CKuNjB71" allowfullscreen></iframe>
</div>

<div id="conn" class="container-fluid">
  <div class='row'>
    <div class='col-xs-12 col-md-6 col-lg-4 pp' id="left">
      <!--      REQUEST MAP FORM-->
      <div class="request-form">
        <form method="post">
          <div class="header__title">{{firstFrameTitle}}</div>
          <div class="child">FROM:</div>
          <div class="address ">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="fromCity" [ngModelOptions]="{standalone: true}"
                   type="text" class="city can-disable"
                   placeholder="City">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="fromStreet" [ngModelOptions]="{standalone: true}"
                   type="text" class="street can-disable"
                   placeholder="Street">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="fromNumber" [ngModelOptions]="{standalone: true}"
                   type="number" class="number-house can-disable"
                   placeholder="#">
          </div>
          <div class="child">TO:</div>
          <div class="address ">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toCity" [ngModelOptions]="{standalone: true}"
                   type="text" class="city can-disable"
                   placeholder="City">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toStreet" [ngModelOptions]="{standalone: true}"
                   type="text" class="street can-disable"
                   placeholder="Street">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toNumber" [ngModelOptions]="{standalone: true}"
                   type="number" class="number-house can-disable"
                   placeholder="#">
          </div>
          <div class="child">RATE:</div>
          <mat-button-toggle-group [(ngModel)]="rateTitle"
                                     name="fontStyle" aria-label="Font Style">
              <mat-button-toggle [disabled]="disabled"
                                 (change)="setRate($event.value)"
                                 value="{{titleRate}}"
                                 *ngFor="let titleRate of rate" >{{titleRate}}</mat-button-toggle>
            </mat-button-toggle-group>

          <div class="child">PAYMENT METHOD:</div>
          <mat-button-toggle-group [(ngModel)]="paymentMethodsTitle"
                                   name="fontStyle" aria-label="Font Style">
            <mat-button-toggle [disabled]="disabled"
                               (change)="setPM($event.value)"
                               value="{{title}}"
                               *ngFor="let title of paymentMethods" >{{title}}</mat-button-toggle>
          </mat-button-toggle-group>
          <div class="bttn child">
            <button class="button__request__car" *ngIf="bttnRequestOrDeny" (click)="requestCar()" type="submit">Request Car</button>
            <button class="button__request__car button__deny__trip" *ngIf="!bttnRequestOrDeny" [attr.disabled]="trip" (click)="denyTrip()" type="submit">Deny Trip
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class='col-xs-12 col-md-6 col-lg-4 pp' id="middle">
      <!--STATUS-->
      <div *ngIf="statusFrameShow" class="request-form">
        <form method="post">
          <div class="header__title">{{statusFrameTitle}}</div>
          <mat-progress-bar *ngIf="!contentStatusFrame" mode="indeterminate" class="margin-top"></mat-progress-bar>
          <div *ngIf="contentStatusFrame">
            <img _ngcontent-naa-c160="" src="https://i.ytimg.com/vi/UKhAlFKmXKk/hqdefault.jpg" alt="avata" class="avatar__req_car ng-star-inserted">
            <div class="child text__style__driver"> {{trip.driver.firstName}} {{trip.driver.lastName}} {{trip.driver.rating}} <i class="far fa-star"></i></div>
            <div class="child text__style__driver">{{trip.driver.car.color}} {{trip.driver.car.model}} {{trip.driver.car.number}}</div>
            <div class="child text__style__driver">{{trip.driver.phoneNumber}}</div>
            <div class="child text__style__driver">{{trip.price}}$</div>
          </div>
        </form>
      </div>
    </div>

    <div class='col-xs-12 col-md-12 col-lg-4 pp' id="right">
      <!--END-->
      <div *ngIf="endFrameShow" class="request-form">
        <form method="post">
          <div class="header__title">{{endFrameTitle}}</div>
          <div class="child">Please set grade:</div>
          <div class="child">
            <div class="row row_2">
              <div class="rating">
                <input [(ngModel)]="starRating" type="radio" id="star5" name="rating" value="5"/><label for="star5"
                                                                                                        title="Rock">5
                stars</label>
                <input [(ngModel)]="starRating" type="radio" id="star4" name="rating" value="4"/><label for="star4"
                                                                                                        title="Pretty good">4
                stars</label>
                <input [(ngModel)]="starRating" type="radio" id="star3" name="rating" value="3"/><label for="star3"
                                                                                                        title="Meh">3
                stars</label>
                <input [(ngModel)]="starRating" type="radio" id="star2" name="rating" value="2"/><label for="star2"
                                                                                                        title="Kinda bad">2
                stars</label>
                <input [(ngModel)]="starRating" type="radio" id="star1" name="rating" value="1"/><label for="star1"
                                                                                                        title="Sucks big time">1
                star</label>
              </div>
            </div>
          </div>
          <div class="child">

            <button class="button__request__car"  (click)="setGrade()" type="submit">OK</button>

<!--            <button (click)="setGrade()">OK</button>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
