<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-hover">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let element">
      <span (keyup)="changeValue(element.id, 'name', $event)" (blur)="updateList(element, 'firstName', $event)"
            contenteditable="true">
        {{element.firstName}}
      </span>
    </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
    <td mat-cell *matCellDef="let element">
            <span (keyup)="changeValue(element.id, 'name', $event)" (blur)="updateList(element, 'lastName', $event)"
                  contenteditable="true">
{{element.lastName}}
      </span>
    </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating</th>
    <td mat-cell *matCellDef="let element">
      <span (keyup)="changeValue(element.id, 'name', $event)" (blur)="updateList(element, 'rating', $event)"
            contenteditable="true">
{{element.rating}}
      </span>
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
    <td mat-cell *matCellDef="let element">
      <span (keyup)="changeValue(element.id, 'name', $event)" (blur)="updateList(element, 'email', $event)"
            contenteditable="true">
{{element.credentials.email}}
      </span>
    </td>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
    <td mat-cell *matCellDef="let element">
      <span (keyup)="changeValue(element.id, 'name', $event)" (blur)="updateList(element, 'phoneNumber', $event)"
            contenteditable="true">
 {{element.phoneNumber}}
      </span>
    </td>
  </ng-container>

  <!-- Delete Person Button Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td style="padding: 0 !important;" mat-cell *matCellDef="let element">
      <button (click)="deletePerson(element)"><i class="far fa-trash-alt"></i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
