<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        Can't log in?
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto">
      <div *ngIf="emailErrorFlag" class="alert" id="login_error">
        <span>Invalid email address.</span>
      </div>

      <div  class="myform form">
        <form *ngIf="flag" action="" method="post" name="login">
          <div class="form-group">
            <input #emailInput type="email" name="email"  class="form-control my-input" id="email" placeholder="Email or UserName">
          </div>

          <div class="text-center ">
            <button (click)="sendMail()" type="submit" class=" btn btn-block send-button tx-tfm">Send password</button>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
          </div>
          <div class="form-group">
            <button (click)="signIn()" type="submit" class=" btn btn-block send-button tx-tfm">Sign-in</button>
          </div>
        </form>

        <form *ngIf="!flag" action="" method="post" name="login">
          <div class="sc-kfGgVZ kBGUJk"></div>
<!--          TODO красивые отступы-->
          <span id="recovery">We have sent you a recovery link to the address: <b>{{email}}</b></span>
          <div class="form-group">
            <button (click)="signIn()"  type="submit" class=" btn btn-block send-button tx-tfm">Sign-in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
