<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="hecHGR" role="main">
  <div class="fRFNlD"><h5>Can't log in?</h5></div>


  <div *ngIf="flag"  id="email-sent-page">
    <div class="sc-kfGgVZ kBGUJk"></div>
    <div class="small mt-3 labell"><p>We have sent you a recovery link to the address</p></div>
    <p class="sc-kIPQKe kbaFwd">{{this.email}}</p></div>


  <form *ngIf="!flag"  style="margin-top: -20px;">
    <div><label for="email">
      <div class="small mt-3 labell"><span>We will send the recovery link to the address</span>
      </div>
    </label>
      <div >
        <div >
          <div><input #emailInput  class="form-control bfCuIo"
                                                      autocomplete="username" id="email"
                                                      placeholder="email" spellcheck="true"
                                                      type="email"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button (click)="sendMail()"  type="submit" class=" btn btn-block send-button tx-tfm">Send mail</button>
    </div>
  </form>
  <div class="col-md-12 ">
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>
  </div>
<a class="ps-hero__content__link labell" href="/sign-in"><span>Return to login</span></a>
</section>
