<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container-fluid">
  <app-common-table [getData]="getDataForTrips" (cellClickEvent)="onCellClick($event)" ></app-common-table>
<!--    <div class="table-responsive text-nowrap">-->
<!--      <table *ngIf="trips" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-hover">-->

<!--        <ng-container matColumnDef="id">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="price">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.price}}$</td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="dateOfCreation">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Creation </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.dateOfCreation | date}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="client">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client rating </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.client.rating}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="startAddress">-->
<!--          <th mat-header-cell *matHeaderCellDef> Start Address </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.startAddress.city}}, {{element.startAddress.street}}, {{element.startAddress.numberHouse}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="finishAddress">-->
<!--          <th mat-header-cell *matHeaderCellDef> Finish Address </th>-->
<!--          <td (click)="reserveTrip(element)" mat-cell *matCellDef="let element"> {{element.finishAddress.city}}, {{element.finishAddress.street}}, {{element.finishAddress.numberHouse}} </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--      </table>-->


<!--&lt;!&ndash;          <td>{{row.client.rating}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{row.client.phoneNumber}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>City:{{row.startAddress.city}} <br>Street: {{row.startAddress.street}}&ndash;&gt;-->
<!--&lt;!&ndash;            <br>#: {{row.startAddress.numberHouse}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>City:{{row.finishAddress.city}} <br>Street: {{row.finishAddress.street}}&ndash;&gt;-->
<!--&lt;!&ndash;            <br>#: {{row.finishAddress.numberHouse}}</td>&ndash;&gt;-->
<!--    </div>-->
</div>
