.kBGUJk {
  height: 88px;
  margin-bottom: 24px;
  margin-top: 15px;
  background: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.107/static/media/check-your-email-open-letter.4191d109.svg) center bottom no-repeat;
}

#recovery{
  margin-bottom: 100px;
  font-size: 1.1rem;
}

.sign-in-button{
  margin-top: 24px;
}
