<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--BACKGROUND MAP-->
<!--TODO afterr added conteiner fluid dont work map-->
<div>
  <iframe src="https://yandex.ru/map-widget/v1/-/CKuNjB71" allowfullscreen></iframe>
</div>


<div id="conn" class="container-fluid">
  <div class='row'>
    <div class='col-xs-12 col-md-6 col-lg-4 pp' id="left">
      <!--      REQUEST MAP FORM-->
      <div class="request-form">
        <form method="post">
          <div>REQUEST MAP FORM</div>
          <div class="child">FROM:</div>
          <div class="address ">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="fromCity" [ngModelOptions]="{standalone: true}" type="text" class="city can-disable"
                   placeholder="City">
            <input [attr.disabled]="disabled ? '' : null"  [(ngModel)]="fromStreet" [ngModelOptions]="{standalone: true}" type="text" class="street can-disable"
                   placeholder="Street">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="fromNumber" [ngModelOptions]="{standalone: true}" type="number" class="number-house can-disable"
                   placeholder="#">
          </div>
          <div class="child">TO:</div>
          <div class="address ">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toCity" [ngModelOptions]="{standalone: true}" type="text" class="city can-disable"
                   placeholder="City">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toStreet" [ngModelOptions]="{standalone: true}" type="text" class="street can-disable"
                   placeholder="Street">
            <input [attr.disabled]="disabled ? '' : null" [(ngModel)]="toNumber" [ngModelOptions]="{standalone: true}" type="number" class="number-house can-disable"
                   placeholder="#">
          </div>
          <div class="child">RATE:</div>
          <div  class="rate">
            <select [attr.disabled]="disabled ? '' : null" class=" can-disable" [(ngModel)]="rateTitle" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let title of rate" [ngValue]="title">{{title}}</option>
            </select>
          </div>
          <div class="child">PAYMENT METHOD:</div>
          <div class=" can-disable">
            <select [attr.disabled]="disabled ? '' : null" [(ngModel)]="paymentMethodsTitle" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let title of paymentMethods" [ngValue]="title">{{title}}</option>
          </select>
          </div>
          <div class="bttn child">
            <button *ngIf="bttnRequestOrDeny" (click)="requestCar()" type="submit">Request Car</button>
            <button [attr.disabled]="disabled ? '' : null"   *ngIf="!bttnRequestOrDeny" (click)="denyTrip()" type="submit">Deny Trip</button>
          </div>
        </form>
      </div>
    </div>

    <div class='col-xs-12 col-md-6 col-lg-4 pp' id="middle">
      <!--STATUS-->
      <div *ngIf="statusFrameShow" class="request-form">
        <form method="post">
          <div>{{statusFrameTitle}}</div>
          <div class="child">Name: {{trip.driver.firstName}}</div>
          <div class="child">Last name: {{trip.driver.lastName}}</div>
          <div class="child">phoneNumber: {{trip.driver.phoneNumber}}</div>
          <div class="child">Rating: {{trip.driver.rating}}</div>
          <div class="child">Color: {{trip.driver.car.color}}</div>
          <div class="child">Model: {{trip.driver.car.model}}</div>
          <div class="child">Number: {{trip.driver.car.number}}</div>
          <div class="child">Price: {{trip.price}}$</div>
        </form>
      </div>
    </div>

    <div class='col-xs-12 col-md-12 col-lg-4 pp' id="right">
      <!--END-->
      <div *ngIf="endFrameShow" class="request-form">
        <form method="post">
          <div>{{endFrameTitle}}</div>
          <div class="child">Please set grade:</div>
          <select [(ngModel)]="grade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="child">
            <button (click)="setGrade()">OK</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
